.icon-btn {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.icon-btn:hover {
    animation-name: wikwik;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
}
.icon-btn img {
    height: 100%;
    width: 100%;
}

.btn {
    cursor: pointer;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    color: #555;

    transition: all 0.25s;
}

.btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px)
}

.btn-icon {
    padding: 15px;
    box-sizing: border-box;
    height: 50px;
}
.btn-icon img {
    height: 100%;
}


/* Standard syntax */
@keyframes wikwik {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(10deg)
    }
    75% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}