.icon-btn {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.icon-btn:hover {
    animation-name: wikwik;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
}
.icon-btn img {
    height: 100%;
    width: 100%;
}



/* Standard syntax */
@keyframes wikwik {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(10deg)
    }
    75% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}