
* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #fff;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

p {
    margin: 3px 0;
    line-height: 23px;
}

a {
    color: unset;
}

.soft-container {
    border-radius: 15px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
}

.center-content {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 25px;
    border-radius: 10px;
    background-color: #444;
}