.timeline-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.timeline-container {
    max-width: 900px;
    width: 100%;
    margin: 25px;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
}

.timeline__channel {
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.channel-title {
    width: 100%;
    padding: 25px 0;
    margin-bottom: 15px;
    text-align: center;
    background-color: #eee;
    border-radius: 10px;
}

.broadcast-container {
    height: 150px;
    min-height: 0;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 2px solid #eee;
    overflow: hidden;
    
    cursor: pointer;
    transition: min-height 0.25s ease;
}
.broadcast-container:hover {
    min-height: 78px;
}
.broadcast-container:nth-child(2) {
    border-radius: 10px 10px 0 0;
}
.broadcast-container:last-child {
    border-radius: 0 0 10px 10px;
}

.timeline__channel.c1 .broadcast-container {
    background-color: rgba(140, 11, 75);
}
.timeline__channel.c2 .broadcast-container{
    background-color: rgba(111, 140, 68);
}
.timeline__channel.c3 .broadcast-container {
    background-color: rgba(67, 116, 146);
}

.broadcast-container:hover {
    opacity: 0.9;
}

.broadcast-title {
    color: #fff;
    margin: 0;
}

.broadcast-time {
    font-weight: bold;
    color: #fff;
}