.timeline-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    transition: margin-right 0.5s;
}
.info-panel-open {
    margin-right: 550px;
}

.timeline-container {
    max-width: 900px;
    width: 100%;
    margin: 25px;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
}

.timeline__channel {
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.channel-title {
    margin-bottom: 25px;
}

.broadcast-wrapper {
    background-color: #000;
    position: relative;
    border-top: 2px solid #eee;
    cursor: pointer;
}
.broadcast-wrapper:nth-child(2) {
    border-top: 0;
}
.broadcast-wrapper:nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.broadcast-wrapper:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden
}

.broadcast-wrapper.content-overflow:hover {
    background-color: #fff;
}

.broadcast-wrapper.content-overflow .broadcast-info {
    display: none;
}
.broadcast-wrapper.content-overflow:hover .broadcast-info {
    display: block;
}

.broadcast-wrapper.content-overflow .broadcast-container{
    left: 0;
    transition: left 0.25s;
}
.broadcast-wrapper.content-overflow:hover .broadcast-container {
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);

    animation-name: broadcast-slide-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 0.25s;
}


.broadcast-container {
    min-height: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    
    transition: min-height 0.5s ease;
}
.broadcast-container:hover {
    opacity: 0.9;
}


.timeline__channel.c1 .broadcast-container {
    background-color: rgba(140, 11, 75);
}
.timeline__channel.c2 .broadcast-container{
    background-color: rgba(111, 140, 68);
}
.timeline__channel.c3 .broadcast-container {
    background-color: rgba(67, 116, 146);
}



.broadcast-title {
    color: #fff;
    margin: 0;
}

.broadcast-time {
    font-weight: bold;
    color: #fff;
}

.detailed-info-container {
    position: fixed;
    top: 0;
    right: -550px;
    height: 100%;
    width: 100%;
    max-width: 500px;

    padding: 25px;

    background-color: #444;
    color: #fff;
    transition: max-width 0.5s, right 0.5s;
}
.detailed-info-container.active {
    right: 0;
}

.detailed-info__part {
    opacity: 0;
    margin-bottom: 25px;
    transition: opacity 0.25s;
}
.detailed-info__part.active {
    opacity: 1;
}

.program-sub-name {
    margin-bottom: 4px;
}

.detailed-info__table {
    width: 100%;
}


.detailed-info__table {
    margin-top: 5px;
    border-collapse: collapse;
}
.detailed-info__table th,  .detailed-info__table td{
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
    margin: 0;
    background-color: #666;
}
.detailed-info__table td {
    background-color: #555;
}


/* Standard syntax */
@keyframes broadcast-slide-in {
    0% {
        opacity: 0;
        left: 100%;
    }
    100% {
        opacity: 1;
        left: 104%;
    }
}